img{
  height: 200px;
}

.row{
  text-align: center;
}

.p_20{
  padding: 20px;
}

p{
  font-size: 25px;
  padding-bottom: 20px;
}

.row .col-lg-12 h2{
  margin-top: 40px;
  font-size: 40px;
  text-transform: capitalize;
}

.row h3{
  padding: 30px;
  font-size: 30px;
}

#steps{
  background-color: #f9f9f9;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  margin-top: 40px;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  #lezioni{
    background-color: lightyellow;
  }

  #why{
    background-color: lightgrey;
  }

}

@media screen and (max-width: 768px){
  #lezioni{
    background-color: lightgreen;
  }

  #why{
    background-color: lightblue;
  }

}
